@import "tailwindcss";

@theme {
  --color-primary: #f45472;
  --color-surface: #ffd2e1;
  --color-onSurface: #583a29;
}

body {
  @apply w-full h-full;
  background-color: var(--color-surface);
  color: var(--color-onSurface);
}

.App {
  @apply w-full h-full;
  background-color: var(--color-surface);
}

.btn-primary {
  @apply px-4 py-2 bg-primary text-white rounded-md hover:bg-primary/80;
}

.btn-secondary {
  @apply px-4 py-2 bg-onSurface text-white rounded-md hover:bg-onSurface/80;
}
